- dataframe是二维的数据结构，可以直观理解为二维的表格，它由行索引index，列colomn以及值values组成
- 构造Dataframe

1.通过多维列表构造

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame([['张三', 23, '男'],
                    ['李四', 27, '女'],
                    ['王二', 26 , '女']])
df1

    0   1  2
0  张三  23  男
1  李四  27  女
2  王二  26  女

In [3]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
df1.columns#这种方式构造DataFrame 默认没有列名，数组的每一个子元素是一个数组，该数组的内容是不同类型的

RangeIndex(start=0, stop=3, step=1)

In [5]:
df1.values

array([['张三', 23, '男'],
       ['李四', 27, '女'],
       ['王二', 26, '女']], dtype=object)

2.通过字典构造

In [7]:
df2 = pd.DataFrame(
    {'姓名': ['张三', '李四', '王二'],
     '年龄': [23, 27, 26],
     '性别': ['男', '女', '女']
    }
)
df2

   姓名  年龄 性别
0  张三  23  男
1  李四  27  女
2  王二  26  女

In [8]:
df2.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
df2.columns#这种方式构造Dataframe，字典的key会作为列名，每一个字段对应的值需要写在同一个value中

Index(['姓名', '年龄', '性别'], dtype='object')

In [10]:
df2.values

array([['张三', 23, '男'],
       ['李四', 27, '女'],
       ['王二', 26, '女']], dtype=object)