- pandas的索引

- iloc: 通过行号和列号进行筛选，索引从0开始
- loc: 通过标签索引；比iloc灵活，可以指定筛选条件
- ix:标签和行号混合的方式

In [2]:
import pandas as pd
df = pd.DataFrame({'name': ['张三', '李四',  '王二', '丁一', '李五'],
                 'gender': ['男', '女', '女', '女', '男'],
                 'age':[23, 26, 22, 25, 27]}, columns=['name', 'gender', 'age'])

df

  name gender  age
0   张三      男   23
1   李四      女   26
2   王二      女   22
3   丁一      女   25
4   李五      男   27

取出上面数据集中间的三行，姓名和年龄列

In [3]:
#索引方式，行是1：4，列为0和2
df.iloc[1:4, [0, 2]]

  name  age
1   李四   26
2   王二   22
3   丁一   25

In [4]:
#标签方式，行没有标签，用索引作为标签，列使用列名
df.loc[1:3, ['name', 'age']]

  name  age
1   李四   26
2   王二   22
3   丁一   25

In [5]:
#混合方式，貌似已经不能用了
df.ix[1:3, [0,2]]

AttributeError: 'DataFrame' object has no attribute 'ix'

- 行标签的使用

In [6]:
#将name作为标签
df2 = df.set_index('name')
df2

     gender  age
name
张三        男   23
李四        女   26
王二        女   22
丁一        女   25
李五        男   27

In [7]:
df2.iloc[1:4, :]

     gender  age
name
李四        女   26
王二        女   22
丁一        女   25

In [8]:
df2.loc[['李四', '王二', '丁一'], :]

     gender  age
name
李四        女   26
王二        女   22
丁一        女   25

In [9]:
df2.ix[1:4, :]

AttributeError: 'DataFrame' object has no attribute 'ix'

- 基于条件的筛选：不能用iloc，能用loc

In [10]:
df.loc[df.gender == '男', ['name', 'age']]

  name  age
0   张三   23
4   李五   27

In [11]:
df.ix[df.gender == '男', ['name', 'age']]

AttributeError: 'DataFrame' object has no attribute 'ix'